/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;800&display=swap');

/* Body styles */
body {
    font-family: Roboto, sans-serif; /* Set default font family */
    margin: 0;
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height to fill viewport */
}

/* Link styles */
a {
    color:#f9faf8;
    text-decoration: none; /* Remove link underline */
}

/* Navigation styles */
ul {
    display: flex;
    list-style: none; /* Remove list bullets */
    margin: 0;
    padding: 0;
    gap: 16px;
}

.nav-logo {
    font-size: 24px;
}

/* Header and footer layout */
header, footer {
    display: flex;
    padding: 2rem 12rem;
}

header {
    justify-content: space-between;
}

/* Main content area */
.content {
    flex: 1; /* Allow content to expand */
}

/* Section padding */
.hero, .main, .container-quote, .container {
    padding: 6rem 12rem;
}

/* Hero section */
.hero {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    background-color: #636363;
    width: 900px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section background and text color */
.hero, header, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

/* Button styles */
button {
    background-color: #3882f6;
    width: 100px;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

/* Main section */
.main {
    justify-content: space-evenly;
    align-items: center;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

/* Image gallery styles */
.images {
    display: flex;
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    padding: 40px;
}

.subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    text-align: center;
}

.square {
    width: 160px;
    height: 160px;
    border-style: solid;
    border-color: #3882f6;;
    border-radius: 8px;
}

/* Testimonial section */
.container-quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    text-align: right;
}

/* Call to action section */
.inner-container {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px; /* Changed padding from 20px to 40px */
    display: flex;
    flex-direction: row;
    color: #e5e7eb;
    justify-content: space-evenly;
}

.action {
    font-weight: 800;
    font-size: 26px;
}

.container button {
    border-style: solid; 
    border-color: #e5e7eb;
}

footer {
    justify-content: center;
}
